.widget {
    width: auto;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background: #f4f4f4;
    color: #1a1a1a;
    border-radius: 15px;
    margin: 20px;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
}
