.widget {
    width: auto;
    height: auto;
    background: #202a3b;
    color: #ffffff;
    border-radius: 7px;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
}
