.widget {
    width: auto;
    height: auto;
    padding: 20px;
    background: #202A3b;
    color: #ffffff;
    border-radius: 7px;
    margin: 8px;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
}
