@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('./fonts/Comfortaa-Light.ttf') format('truetype');
}

.wrapper {
    background: #202020;
    font-family: 'Comfortaa', sans-serif;
}

.dashboard {
    padding: 30px;
    min-height: 100vh;
    min-width: 100%;
}
