.App {
    background: #282c34;
    padding: 2.5%;
}

.App-header {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    min-height: 100vh;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}
