@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('./fonts/Comfortaa-Light.ttf') format('truetype');
}

.App {
    background: #202020;
    padding: 2.5%;
}

.App-header {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    min-height: 100vh;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 10%;
}
