@font-face {
    font-family: 'Sen';
    src: local('Sen'), url('./fonts/Sen-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Sen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #202020;
}

::-webkit-scrollbar-thumb {
    background: #202a3b;
}

::-webkit-scrollbar-thumb:hover {
    background: #61dafb;
}
